.item-container {
    background-color: white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    margin-top: 20px;
    width: 22%;
    background-color: red;
    height: 20vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 10px;
} 

